.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group label {
  font-weight: 600;
}

.form-group input, .form-group textarea {
  padding: .5rem;
  border-radius: 0.25rem;
  border: 1px solid #111D5E;
}


.form-group textarea {
  height: 5rem;
}


.button {
  padding: 0.5rem;
  cursor: pointer;
  background-color: #111D5E;
  color: #fff;
  border: solid 1px #111D5E;
  border-radius: 0.25rem;
}

.button:disabled {
  background-color: rgb(17,29,94 , .74);
}